.sphere {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: var(--ratio-square);
  width: 300px;
  border-radius: var(--radius-round);
  box-shadow: rgb(255 255 200 / 90%) 0 0 10px 2px,
    rgb(255 240 150 / 70%) 0 0 40px, rgb(255 220 120 / 50%) 0 0 80px,
    rgb(200 180 100 / 30%) 0 0 120px, rgb(150 130 80 / 20%) 0 0 160px,
    rgb(255 230 150 / 30%) 0 0 40px 5px inset;
  pointer-events: all;
  overflow: hidden;
  box-sizing: border-box;
}
